body {
    font-size: 10px;
    line-height: 2.4em;
    color: black;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif ;
}

h1 {
   font-size: 21px;
   line-height: 2.4em;
   color: black;
   font-weight: bold;
   font-family: "PT Sans Narrow", "Arial", sans-serif ;
}

h2 {
   font-size: 17px;
   line-height: 2,4em;
   color: black;
   font-weight: bold;
   font-family: "PT Sans Narrow", "Arial", sans-serif ;
}


.main-header {
  display: flex;
  padding: 0 10px;
  margin-bottom: 60px;
}

.header-logo {
  width: 140px;
  margin-left: auto;
  margin-right: 20px;
}

.main-navigation {
  width: 780px;
  margin-left: auto;
  margin-right: 20px;
}

.main-navigation-inner {
  width: 620px;
  margin-right: 20px;
}

.user-block {
  width: 140px;
  margin-right: auto;
}

main {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;
}


.features-item {
  width: 300px;

  /* Только для оформления сетки */
  min-height: 175px;
}

.index-content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content::before {
  display: none;
}

.index-content-left {
  width: 380px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.index-content-right {
  width: 300px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.main-footer {
  display: flex;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-contacts {
  width: 320px;
  margin-left: auto;
  margin-right: 60px;
}

.footer-social {
  width: 180px;
}

.footer-copyright {
  width: 160px;
  margin-right: auto;
}

.breadcrumbs-layout {
  min-height: 65px;
  margin-right: auto;
  margin-bottom: 60px;
}

.shop-itself {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 50px;
}

.shop-left-column {
  width: 180px;
}

.producers {
  margin-bottom: 60px;
}

.shop-right-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
}

.item {
  width: 220px;
  min-height: 290px;
}

.page-number {
  margin-left: 240px;
}

.item-itself {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 50px;
}

.item-photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;
}

.item-photos img {
  width: 140px;
}

.item-photos img:first-child {
  width: 460px;
}

.item-description {
  width: 390px;
}
