body {
    font-size: 10px;
    line-height: 2.4em;
    color: black;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif ;
}

h1 {
   font-size: 21px;
   line-height: 2.4em;
   color: black;
   font-weight: bold;
   font-family: "PT Sans Narrow", "Arial", sans-serif ;
}

h2 {
   font-size: 17px;
   line-height: 2,4em;
   color: black;
   font-weight: bold;
   font-family: "PT Sans Narrow", "Arial", sans-serif ;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header: {
  margin-bottom: 60px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-navigation {
  float: left;
  width: 780px;
}

.user-block {
  float: right;
  width: 140px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;

}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}

.navigation2 {
  margin-bottom: 60px;
}

.breadcrumbs {
  float: left;
  margin-right: auto;
}

.item-photos {
  float: left;
  width: 460px;
  background: #fff123;
}

.item-miniatures img {
  display:inline-block;
  float: left;
  width: 140px;
  margin-right: 20px;
  outline-color: invert;
}

.item-miniatures img:last-child {
  margin-right: 0;
}

.item-description {
  float: right;
  width: 300px;
}
